.control {
    font-family: monospace;
    font-size: 18px;
    background: transparent;
    color: #ffffff;
    display: block;
    width: calc(100% + 15px);
    overflow-y: scroll;
    height: 100%;
    padding: 0 1em 1em 1em;
}

.control-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
.control-input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
.control-input:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
.control-input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.control-output {
    word-break: break-word;
    white-space: normal;
}