.section {
    overflow: hidden;
}

.section-header {
    padding: 1em;
}

.section-input,
.section-output {
    width: 50%;
    height: 100%;
}

.section-output {
    border-left: 1px dotted white;
}
